DJANGO_SECRET_KEY=INSERT_KEY_HERE
#DATABASE_URL=
ALLOWED_HOSTS=*
CORS_ORIGIN_ALLOW_ALL=True
CORS_ALLOW_CREDENTIALS=True
CORS_ORIGIN_WHITELIST=
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=INSERT_EMAIL
EMAIL_HOST_PASSWORD=INSERT_EMAIL_PASSWORD